<div class="m-mask none">
    <div class="drawer pd-10">
        <div class="ml-20 mt-25 f-14 flex items-center">
            <p class="none" id="waplogin">
                <a href="/public/user/index.html#/reg">注册</a> |
                <a href="/public/user/index.html#/login">登录</a>
            </p>
            <p class="none" id="wapuser">
                您好，<a class="mt-5 el-button c-1A85F8 mr-5" href="/public/user/index.html#/index">个人中心</a>
            </p>
        </div>
        {{include './search.html'}}
        {{include './nav.html'}}
    </div>
</div>